<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
		<title> Zfs Monitor </title>
	</head>
	
	<body>
		
		<nav class="navbar navbar-expand-sm navbar-custom">

				
			<a class="navbar-brand" href="#">ZFS Monitor</a>
			
			<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="navbar-collapse collapse" id="navbarMenu">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="#">Home</a>
					<a class="nav-item nav-link" href="/cpu">CPU</a>
					<a class="nav-item nav-link" href="/memory">Memory</a>
					<a class="nav-item nav-link" href="/pool">Pool</a>
				</div>
			</div>
			
		</nav>	
	{% block content %}{% endblock %}
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>